/* Estilo para la cuadrícula */
.grid-container {
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }
  
  .grid {
    background: linear-gradient(90deg, #e1e1e1 1px, transparent 1px) 0 0,
                linear-gradient(180deg, #e1e1e1 1px, transparent 1px) 0 0;
    background-size: 20px 20px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none; /* No interactuar con la cuadrícula */
  }
  
  /* Estilo para los botones */
  button {
    position: absolute;
    z-index: 10;
    margin: 10px;
  }
  
  #addElementBtn {
    left: 10px;
    bottom: 70px;
  }
  
  #moveBtn {
    left: 150px;
    bottom: 70px;
  }
  
  #importExportBtn {
    left: 300px;
    bottom: 70px;
  }
  